//@import '../tools-app.scss';

$tlvxHeaderHeight: 60px;
$sidebarItemSize: 0px;
$sidebarWidth: $sidebarItemSize + 1px;

#tlvx-header {
  position: absolute;
  top: 0; //$tlvxHeaderHeight;
  left: 0; right: 0;
  height: $tlvxHeaderHeight;
  background: #ccc;
  border-bottom: 1px #eee;
}

#tlvx-workspace {
  position: absolute;
  top: $tlvxHeaderHeight;
  left: $sidebarWidth;
  right: 0;
  min-height: 800px;
  background: #DDD;

  .hex-pane {
    position: relative;
    width: 100%;
    padding: 10px;

    background-color: #eee;

    > textarea {
      border-radius: 5px;
      border-width: 2px;
      border-style: dash;
      height: 100px;
      margin: 0px;
      width: 100%; //calc( 100% - 150px);
    }

  }

  .tree-pane {
    border-top: 2px dashed #eef;
    width: 100%;
    min-height: 200px;
    padding: 10px;

    background-color: #eee;

    font-family: monospace;
    font-size: 1.1rem;

    > div {
      background-color: #ddd;
      border-radius: 5px;
    }
  }
}

.tree-node {
  position: relative;

  left: 10px;
  padding: 2px;

  span {
    margin: 2px;
  }
}

.tree-node-closed {
  .tree-node {
    display: none;
  }

  > :before {
    position: absolute;
    left: -10px;
    content: "+"
  }
}

.tree-node-open {
  .tree-node {
    display: block;
  }
  > span:before {
    position: absolute;
    left: -10px;
    content: "-"
  }
}

.tree-node-empty:before {
  position: absolute;
  left: -15px;
  content: "o"
}

.tooltip {
  position: relative; // throws down to next item, must have -top
  top: -$sidebarItemSize + 10px + 1px;
  left: $sidebarItemSize + 5;
  width: 250px;
  height: $sidebarItemSize - 20px;
  line-height: $sidebarItemSize;
  font-size: 1rem;
  padding-left: 20px;
  color: #fff;
  background-color: #444;
  z-index: 10;
  display: none;
  border-radius: 5px;
}

.tooltip:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #444 transparent transparent;
    :hover {
      background-color: #888;
      border-color: transparent #888 transparent transparent;
    }
}

.tooltip:hover {
  background-color: #888;
  border-color: transparent #888 transparent transparent;
}

li:hover .tooltip {
  display: inline-block;
}
